.notif-container {
  width: 400px;
  margin: auto;
}

.notif {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.unread {
  background: #ffecec;
}

.read {
  background: #e7f7e7;
}